*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

/* PURE CSS LOADING STYLES */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* TAILWIND SETUP */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* TAILWIND REUSABLE CLASSES */
@layer base {
  .nav-item {
    @apply flex items-center gap-2 py-2 px-3 bg-white bg-opacity-40 text-white rounded-sm hover:bg-opacity-30 transition-colors;
  }
  .product-button {
    @apply rounded-sm py-2 font-bold transition-colors px-10 text-white text-center;
  }
  .page-header-container {
    @apply w-full border-b-2 border-gray-200 flex items-center justify-between pb-2;
  }
  .page-header-text {
    @apply text-2xl font-medium;
  }
  .page-header-button {
    @apply bg-green-500 hover:bg-green-600 py-1 px-3 text-white rounded-md transition-colors flex items-center gap-2 justify-center text-sm lg:text-base;
  }
  .cart-table {
    @apply border-2 border-gray-200 shadow-md rounded-md my-5 w-full overflow-x-scroll lg:overflow-x-hidden block lg:table;
  }
  .cart-table-head-title {
    @apply px-6 py-2 text-gray-500;
  }
  .cart-table-delete-button {
    @apply rounded-sm text-sm py-1 px-2 text-white transition-colors bg-red-500 hover:bg-red-600;
  }
  .checkout-link-button {
    @apply bg-green-500 hover:bg-green-600 transition-colors rounded-md text-white text-center font-medium flex items-center justify-center gap-2 px-4 py-2 text-sm lg:text-base cursor-pointer;
  }
  .text-input {
    @apply border-2 border-gray-200 py-1 px-2 rounded-md outline-none focus:border-blue-300 shadow-sm;
  }
  .form-group {
    @apply flex flex-col gap-3;
  }
  .select-input {
    @apply bg-white shadow-sm border-2 border-gray-200 px-2 py-1 rounded-md outline-none cursor-pointer focus:border-blue-300;
  }
} 
