*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

/* PURE CSS LOADING STYLES */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* TAILWIND SETUP */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* TAILWIND REUSABLE CLASSES */
@layer base {
  .nav-item {
    @apply flex items-center gap-2 py-2 px-3 bg-white bg-opacity-40 text-white rounded-sm hover:bg-opacity-30 transition-colors;
  }
}
